<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="太阳系,火星,通信,星际通信">
  <title>太阳系天体之间通信延时计算器</title>
  <link rel="stylesheet" href="css/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="lib/datetime/bulma-calendar/css/bulma-calendar.min.css">

</head>

<body class="has-navbar-fixed-bottom">
  <section class="hero is-medium is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <h1 class="title is-2 is-spaced">
              火星-地球通信延时
            </h1>
            <h2 class="subtitle is-4">
              需要与火星上的朋友进行通信？可是地球到火星通信的延时是多少呢？星际移民中心制作了这个工具，你可以实时了解延时的情况。
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
          <div class="content">



            <!-- This is the beginning of the contents -->

            <div id="app">
                <h3>你发送的消息从{{ from_body_text_cn }}到{{ to_body_text_cn }}需要多久呢？</h3>
              <div class="astro_selector">
                <div class="select">
                  <select v-model="from_body">
                    <option v-for="option in options_cn" v-bind:value="option.value">
                      {{ option.text }}
                    </option>
                  </select>
                </div>

                <span> 到 </span>
                <div class="select">
                  <select v-model="to_body">
                    <option v-for="option in options_cn" v-bind:value="option.value">
                      {{ option.text }}
                    </option>
                  </select>
                </div>
              </div>

              <p>由于天体运动，{{ from_body_text_cn }} 和 {{ to_body_text_cn }} 之间的通信延时是随时变化的。<span
                  style="display:none">{{ compute_draw_sol_scale_factor }}</span>
              </p>

              <div class="field">
                <label class="label">填写日期和时间（格式举例：2019-04-01T08:30:18Z，2019-04-01）</label>
                <div class="control">
                  <input class="input" type="datetime" v-model="form.selected_date">
                </div>
              </div>

              <div class="box">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        当前时区的时间是
                        <div class="field">
                          <label class="label"><span>{{current_date_string_cn}}</span></label>
                        </div>
                      </p>
                      <p>
                        你的消息从{{ from_body_text_cn }}到达{{ to_body_text_cn }}，需要<span style="font-weight:bold;">
                          {{ earth_mars_distance_lm }} 分钟</span>的时间。消息往返需要
                        <span style="font-weight:bold;">{{ earth_mars_round_trip }}
                          分钟</span>.
                      </p>
                    </div>
                  </div>
                </article>
              </div>

            </div>

            <!-- This is the beginning of the contents -->

          </div>
          <div class="content">
            <div>
              <p>
                我们绘制了所选日期时，天体之间的相对位置的情况。
              </p>
            </div>
            <div id="solarsystem" style="width:100%;text-align:center;"></div>

            <div>
              <p>
                通过下面的图，我们可以查看所选的时间附近日期的通信情况。
              </p>
            </div>
            <div id="distance-chart-cn"></div>

          </div>

        </div>
      </div>
    </div>
  </section>


  <footer class="footer has-text-centered">
    <div class="container">
      <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
          <p>
            <strong class="has-text-weight-semibold">
              <a href="http://interimm.org">星际移民中心</a>制作
            </strong>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <nav class="navbar is-dark is-fixed-bottom">
    <div class="navbar-brand">
      <a class="navbar-item" href="//interimm.org">
        <img src="//interimm.org/assets/ico/favicon-192x192.png" alt="Interplanetary Immigration Center" width="28"
          height="28">
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="//interimm.org">
          星际移民中心
        </a>
        <div class="navbar-item has-dropdown has-dropdown-up is-hoverable">
          <a class="navbar-link" href="//interimm.org/archives">
            其他工具
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="//interimm.org/mars-clock/">
              火星时钟
            </a>
            <a class="navbar-item" href="//interimm.org/mars-map/">
              火星地图
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="//interimm.org/archives">
              更多
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="nav-link nav-link-icon" href="https://github.com/interimm/comms-latency" target="blank"
                style="color: #ed7a57;">
                <i class="fab fa-github-square"></i>
                <span class="nav-link-inner--text">

                </span>
              </a>
            </p>
          </div>
        </div>
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="nav-link nav-link-icon" href="en" data-toggle="tooltip" title="Switch Language"
                style="color: #ed7a57;">
                <i class="fa fa-language"></i>
                <span class="nav-link-inner--text">EN</span>
              </a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </nav>

  <script type="text/javascript" src="lib/vue.js"></script>
  <script type="text/javascript" src="lib/orb.js/build/orb.v2.js"></script>
  <script type="text/javascript" src="lib/moment/moment-with-locales.js"></script>
  <script type="text/javascript" src="lib/d3/d3.min.js"></script>


  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script src="lib/navbar.js"></script>

  <script type="text/javascript" src="lib/util.js"></script>
  <script type="text/javascript" src="lib/main.js"></script>

</body>

</html>